apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-zwutgoiz
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-zwutgoiz:a0f52b62ea514b0b82d53427e2a31e76fc881df8@sha256:bd8a4d54f6f94794ef496638608afd93004e455a9ecb599cb10bc460111c0bd1
          name: container-image
